.theme-config-block-section {
  display: flex;
  inline-size: 100%;
  gap: 34px;
  margin-block-end: 15px;
}

.theme-config-block-section__properties {
  max-inline-size: calc(60% - 10px);
  flex: calc(60% - 10px) 0 0;

  .theme-config-block--no-preview & {
    max-inline-size: 100%;
    flex: 100% 0 0;
  }
}

.theme-config-block-section__preview {
  flex: 1;
  max-inline-size: calc(40% - 14px);
  overflow: hidden;
  padding-inline-end: 14px;
  padding-block-start: 4px;
  display: flex;
  flex-direction: column;

  .theme-config-block--no-preview & {
    display: none;
  }
}
