.page-settings-path-params {
  display: flex;
  align-items: center;
  inline-size: 100%;

  &:not(:last-child) {
    margin-block-end: 8px;
  }
}

.page-settings-path-params__name {
  @extend %ellipsis;

  flex: 0 0 50%;
}

.page-settings-path-params__dropdown {
  flex: 0 0 45%;
  margin-inline-start: 5%;
}
