.update-user-source-form__auth-provider {
  margin-block-start: 16px;
}

.update-user-source-form__auth-provider-header {
  display: flex;
  justify-content: space-between;
}

.update-user-source-form__auth-provider-form {
  margin-inline-start: 24px;
  margin-block-start: 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
