.style-guide__wrapper {
  @include absolute(0);

  z-index: $z-index-layout-col-3;
  overflow: auto;
}

.style-guide {
  margin: 0 auto;
  max-inline-size: 100%;
  inline-size: 1200px;
  padding: 40px 15px;
}

.style-guide__buttons {
  .button {
    margin-block-end: 8px;
  }
}

.style-guide__contexts {
  .context,
  .select,
  .time-select {
    display: inline-block;
    position: relative;
    margin-inline-end: 40px;
    vertical-align: top;
  }
}
