.tabs-body {
  block-size: 100%;
  display: flex;
  flex-direction: column;
}

.tabs-body__tabs {
  flex: 0 0;
}

.tabs-body__body {
  block-size: 100%;
  position: relative;
  background-color: white;
}
